<!--
  ~ Copyright 2021 Clifford Liu
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.madness.collision.unit.api_viewing">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_api_viewing">
        <dist:delivery>
            <dist:install-time>
                <!-- When unset or set to false, bundletool will fuse install-time modules... -->
                <!-- ...into the base module when generating split APKs from the bundle. -->
                <!-- This makes the module un-removable afterwards. -->
                <!-- 2023.12.18 set removable to false for a few missing module cases reported, -->
                <!-- which should be caused by deferred module-uninstall until next app install/update. -->
                <dist:removable dist:value="false" />
            </dist:install-time>
        </dist:delivery>
        <!-- Specifies whether to include the module in multi-APKs... -->
        <!-- ...that target devices running Android 4.4 (API level 20) and lower. -->
        <!-- Additionally, when you use bundletool to generate APKs from an app bundle, -->
        <!-- only feature modules that set this property to true are included in the universal APK. -->
        <dist:fusing dist:include="true" />
    </dist:module>

    <!-- query apps on Android 11 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />
    <!-- used for InstallSourceInfo.getOriginatingPackageName, granted to system apps only -->
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
</manifest>

